
header{
    background: #0c0c0c;
    color: white;
    font-weight: bold

}
aside{
    background: #0c0c0c;
    height: 539px;
}
main{
    background: #f3f3f3;
    margin: 10px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}
footer{
    background: green;
}
.sidebar ul li a{
    color: #dedede;
    font-size: 16px;
    padding: 5px 180px 5px 5px;
    text-decoration: none;
}
.sidebar ul li{
    list-style: none;
    background: #8a8a8a;
    margin-top: 28px;
    padding: 12px;
}
.sidebar h5{
    color: gray;
    text-align: right;
    border-bottom: 1px solid #3e3e3e;
    padding: 7px 0px;
}
.sidebar ul li a:hover{
    color: white;
}
.sidebar ul{
    padding: 6px 0px 6px 22px;
}


.user-header{
    background: #f1eded;
    border: 1px solid #dedede;
}
.content-title h2{
    font-size: 18px;
    font-weight: bold;
}
.content-title{
    padding: 0px;
}
.content-btn{
    margin-top: 11px;
    padding: 0px;
}
.content-btn button{
    float: right;
}
.modal-dialog{
    max-width: 28%;
}
modal-body{
    padding: 19px 34px;
}
.message-alert{
    background: black;
    width: 22%;
    position: fixed;
    right: 3px;
    top: 67px;
    padding: 11px;
    color: #e0e0e0;
    font-size: 19px;
    border-radius: 6px;
}
.settings{
    background: snow;
    margin-right: 11px;
    border-radius: 29px;
    padding: 6px;
    color: #212121;
}
.settings:hover{
    background: gray;
}