<div class="col-md-12 sidebar">
                <h5><span class="fa fa-wrench settings" data-toggle="modal" data-target="#setting"></span> Add Item</h5>
            <ul>
                <li id="tab1"><a href="/users"> Users</a></li>
                <li id="tab2"><a href="/items"> Items</a></li>
            </ul>
</div>


<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="setting" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> My Settings</h4>
      </div>
      <div class="modal-body col-md-12">
        <div class="col-md-12">
            <div class="col-md-6">
                <li>Light Mode</li>
                <li>Data Entry authurity</li>
            </div>
            <div class="col-md-6">
                <li>Light Mode</li>
                <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                      </label>
                <li>Data Entry authurity</li>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Save Settings</button>
      </div>
    </div>

  </div>
</div>
